body {
    background: url('../img/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    background: rgba(255, 255, 255, 0.8); /* Fundo branco com transparência */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 800px;
}

/* Cabeçalhos */
header {
    background: rgba(0, 123, 255, 0.9); /* Azul com opacidade */
    padding: 10px 0;
    margin-bottom: 20px;
}

header h1 {
    text-align: center;
    color: white;
    margin: 0;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
    color: #eaeaea;
}

/* Rodapé */
footer {
    background: rgba(0, 123, 255, 0.9); /* Azul com opacidade */
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* Itens no carrinho */
.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-item img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 5px;
}

.cart-item-details {
    flex: 1;
}

.cart-item button {
    margin-left: 10px;
}

/* Botões */

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}